* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #d1d6f8;
  font-family: 'Mulish';
}
.container {
  margin: 0 auto;
  width: 85vw;
  background-color: #d1d6f8;
}
label {
  cursor: pointer;
  background-color: #f9faff;
  display: block;
  padding: 0 1rem 1rem;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  margin: 0 0 0.5rem;
  transition: color 0.35s;
  border-radius: 1rem;
}
input {
  opacity: 0;
}
.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3{
  color: #A1ACFC;
  text-transform: uppercase;
  padding: 0.9rem;
  font-size: 1rem;
}
.switch {
  stroke: #A1ACFC;
}
input:checked + label .switch {
  transform: rotate(45deg);
  transition: all 0.3s ease;
  opacity: 1;
  stroke: #e94d66;
}
input:checked + label h3{
  color: #e94d66;
}
.content {
  width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #f1f2fe;
  border-radius: 1rem;
}
.content img {
  width: 40vw;
}
.content img.student {
  width: 36vw;
}
.content img.pay {
  width: 50vw;
}
p{
  font-family: 'Montserrat';
  font-size: 0.7rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #020c17;
  opacity: 0.8;
  text-transform: uppercase;
}