* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #d1d6f8;
  font-family: "Mulish";
}
.container {
  margin: 0 auto;
  width: 85vw;
  background-color: #d1d6f8;
  padding-top: 2rem;
}
label {
  cursor: pointer;
  background-color: #f9faff;
  display: block;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  margin: 0 0 0.5rem;
  transition: color 0.35s;
  border-radius: 1rem;
  padding-bottom: 1rem;
}
input {
  display: none;
}
.item {
  height: 8vh;
  padding-top: 0.5rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 2vh;
}
h3 {
  color: #a1acfc;
  text-transform: uppercase;
  padding: 0.9rem;
  font-size: 1rem;
}
.switch {
  stroke: #a1acfc;
  opacity: 1;
}
/* first item */
.first .item {
  height: 40vh;
}
.first .switch {
  stroke: #e94d66;
  transform: rotate(45deg);
  opacity: 1;
}
.first h3 {
  color: #e94d66;
}
.first .content {
  opacity: 1;
  transform: scale(1);
}

.content {
  width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #f1f2fe;
  border-radius: 1rem;
  opacity: 0;
  transform: scale(0.6);
}
.content img {
  width: 40vw;
}
.content img.student {
  width: 36vw;
}
.content img.pay {
  width: 50vw;
}
p {
  font-family: "Montserrat";
  font-size: 0.7rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #020c17;
  opacity: 0.8;
  text-transform: uppercase;
}
label:not(.first):active .content img,
label:not(.first):active .content p{
  opacity: 0.5;
  transition: all 0.4s ease;
}
label:not(.first):active .info h3{
  color: #a1acfc;
  transition: all 0.4s ease;
}
label:not(.first):active .info .switch{
  stroke: #a1acfc;
}
/* when checked */
input:checked + label:not(.first) .switch {
  transform: rotate(45deg);
  transition: all 0.3s ease;
  opacity: 1;
  stroke: #e94d66;
}
input:checked + label h3 {
  color: #e94d66;
}
input:checked + label:not(.first) .item {
  height: 40vh;
}
input:checked + label:not(.first) .content {
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s ease;
}
@media (min-width: 568px) {
  .container {
    width: 65vw;
  }
  h3 {
    font-size: 1.1rem;
  }
  /* first item */
  .first .item {
    height: 50vh;
  }
  .content {
    width: 85%;
    height: 40vh;
  }
  .content img {
    width: 25vw;
  }
  .content img.pay {
    width: 35vw;
  }
  .content img.student {
    width: 20vw;
  }
  p {
    font-size: 0.8rem;
    margin-bottom: 1.1rem;
  }
  /* when checked */
  input:checked + label:not(.first) .item {
    height: 50vh;
    transition: all 0.2s ease-in-out;
  }
}
@media (min-width: 820px) {
  h3 {
    font-size: 1.4rem;
  }
  /* first item */
  .first .item {
    height: 55vh;
  }
  .content {
    width: 70%;
    height: 45vh;
  }
  .content img {
    width: 20vw;
  }
  .content img.pay {
    width: 25vw;
  }
  .content img.student {
    width: 15vw;
  }
  p {
    font-size: 1rem;
  }
  /* when checked */
  input:checked + label:not(.first) .item {
    height: 55vh;
    transition: all 0.2s ease-in-out;
  }
}
@media (min-width: 1080px) {
  h3 {
    font-size: 1.6rem;
  }
  /* first item */
  .first .item {
    height: 60vh;
  }
  .content {
    width: 65%;
    height: 50vh;
  }
  .content img {
    width: 15vw;
  }
  .content img.pay {
    width: 20vw;
  }
  .content img.student {
    width: 10vw;
  }
  p {
    font-size: 1.1rem;
  }
  /* when checked */
  input:checked + label:not(.first) .item {
    height: 60vh;
    transition: all 0.2s ease-in-out;
  }
  .switch,
  .first .switch {
    opacity: 0;
  }
  /* when hover container for desktop */
  .container:hover .first.switch,
  .container:hover .switch {
    opacity: 1;
    transition: all 0.4s ease;
    stroke: #e94d66;
  }
  .container:hover h3 {
    color: #e94d66;
    transition: all 0.4s ease;
  }

  /* when hover item for desktop*/
  .item:hover {
    height: 60vh;
    transition: all 0.3s ease;
  }
  .item:hover .switch {
    transform: rotate(45deg);
    transition: all 0.3s ease;
    opacity: 1;
    stroke: #e94d66;
  }
  .item:hover .content {
    opacity: 1;
    transform: scale(1);
    transition: all 0.4s ease;
    height: 50vh;
  }
}
